body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
}
.frame {
    margin-top: 1%;
}

.tiles {
    position: absolute;
    display: grid;
}

.tile {
    background-color: aquamarine;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    cursor: pointer;

}

.tile:hover{
    background-color: lightcyan;
}

.numbers {
    font-weight: bold;
}

.saved img{
    margin: 5px;
}

.saved {
    margin-top: 1%;

    height: 120px;
    
}


form {
    margin-top: 2%;
    width: 50%;
    display: grid;
    grid-template-columns: auto 10%  10%  10%;

}

.img-input {
    padding: 2px;
    height: 50px;
    border-style: none;
}

.img-save {
    color: #000;
    background-color: aquamarine;
    border-style: none;
    cursor: pointer;
    font-weight: bold;
}

.img-start {
    color: #000;
    background-color: aqua;
    border-style: none;
    cursor: pointer;
    font-weight: bold;
}

.img-reset {
    color: #000;
    background-color: skyblue;
    border-style: none;
    cursor: pointer;
    font-weight: bold;
}

.tile-clear {
    color: #000;
    height: 80px;
    width: 250px;
    background-color: skyblue;
    border-style: none;
    cursor: pointer;
    font-weight: bold;
}

.tile-next {
    color: #000;
    height: 80px;
    width: 250px;

    background-color: skyblue;
    border-style: none;
    cursor: pointer;
    font-weight: bold;
}

