body {
    background-color: #333C83;
    margin: 0px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #EAEA7F;
}

.red {
    background-color: #F24A72;
}

.orange {
    background-color: #FDAF75;
}

.yellow {
    background-color: #EAEA7F;
}

.btn {
    color: #000;
    border-style: none;
    cursor: pointer;
    font-weight: bold;
    padding: 14px 28px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.btn:disabled {
    background-color: #b1b1b1;
}

.frame {
    margin-top: 1%;
    
}

.tiles {
    position: absolute;
    display: grid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.tile {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    cursor: pointer;
}

.tile:hover{
    background-color: lightcyan;
}

.numbers {
    font-weight: bold;
}

.saved img{
    margin: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.saved {
    margin-top: 3%;
    height: 120px;
}

form {
    margin-top: 3%;
    width: 50%;
}

.input {
    width: 100%;
    padding: 0px;
    height: 39px;
    border-style: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 5px;
}

.tile-btn {
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.ml {
    margin-left: 5px;
}